.gitignore
bc/.deps/
bc/Makefile
bc/bc
bc/*.o
bc/libmath.h
dc/.deps/
dc/Makefile
dc/dc
dc/*.o
doc/Makefile
doc/texi-ver.incl
lib/.deps/
lib/Makefile
lib/*.o
lib/*.a
config.h
config.log
config.status
stamp-h1
Makefile
